# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Desktop\dialogue-consistence-detection\KnowledgeBase_Dialogue_Consistentency\configure\KBRetriver_DC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
